<div id="welcome">
  <div class="modal-prose">
  	<img src="assets/images/sm-logo-icn.svg" alt="SmartMap logo" width="128" height="150" class="logo" />
  	<h2>Understand the Where</h2>

    <p><strong>income levels • ethnic groups • population density • altitude • biodiversity • rainfall • and much more...</strong></p>

  	<p>Identify the best location for your project using SmartMap’s wealth of information. Dozens of indicators for over 14,000 municipalities across Latin America and the Caribbean help you find your target beneficiaries, let you compare various geographical features, and show you where your solution is needed most.</p>
  </div>
</div>
