<style media="screen">
  #welcome {
    width: 100vw;
    height: calc(100vh - 89px);
    padding: 10em;
    z-index: 100;
    position: absolute;
    top: 89px;
    background-color: #EFEFEF;
  }
</style>
<div id="welcome">
  <div class="modal-prose">
    <p>SmartMap is a simple-to-use tool for visualizing, analyzing, and layering geographic-based data. Users choose from among dozens of social, economic, and environmental indicators, drawn from publicly available data sources, to create customized and
      detailed maps.</p>
    <p>
      The information available in SmartMap is based on official data published by national and international agencies referenced. The policy adopted to define administrative limits does not reflect any official position of the IDB Group and the MIF.
      <br> The results of the analysis should be considered purely indicative and reference in any way be used in critical situations or emergencies. NEXSO SmartMap team welcomes any comments, observations or suggestions regarding the information contained
      in this application and its functionalities.

    </p>
    <p class="version">Version 1.0</p>
  </div>
</div>
